@page "/todo"
<h3>ToDoList</h3>

<div class="row">
    <div class="col">
    <input @bind="newToDo" name="input" class="form-control" placeholder="Введите название"/>
    </div>
    <div class="col">

    <button @onclick="AddToDO" class="btn btn-success" > Добавить</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Done</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
               <td> @item.Name</td>
               <td>@item.IsDone</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<ToDoItem> list = new List<ToDoItem>();
    public string newToDo;
    private void AddToDO()
    {
        list.Add(new ToDoItem { Name = newToDo });
    }

    //private void ShowToDO()
    //{
    //    ToDoItem.ShowToItem();
    //}

}
