@page "/todo"
<h3>ToDoList</h3>

<div class="row">
    <div class="col">
    <input @bind="newToDo" name="input" class="form-control" placeholder="Введите название"/>
    </div>
    <div class="col">

    <button @onclick="AddStudentToDatabase" class="btn btn-success" > Добавить</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Done</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr>
               <td> @item.Name</td>
               <td>@item.IsDone</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private IList<ToDoItem> list = new List<ToDoItem>();
    public string newToDo;
    public static void AddStudentToDatabase(ToDoItem newToDo)
    {
        var client = new MongoClient("mongodb://localhost");
        var database = client.GetDatabase("ToDoList");
        var collection = database.GetCollection<ToDoItem>("ToDoItem");
        collection.InsertOne(newToDo);
    }
    //notes_class notes = new notes_class(txt_name.Text, txt_text.Text, date.DisplayDate);
    //DataBaseMethods.AddSNotes(notes); 
    //         MessageBox.Show($"Запись:\n {txt_name.Text} добавлена", "Регистрация студента", MessageBoxButton.OK, MessageBoxImage.Information);
    //         NavigationService.Navigate(new notes_page());
}
