@page "/todo"
@using WebApplication1.Data
@inject WebApplication1.IServis.ITodoService tds
<h3>ToDoList</h3>

<div class="row">
    <div class="col">
    <input @bind="toDo.Name" name="input" class="form-control" placeholder="Введите название"/>
    </div>
    <div class="col">

    <button @onclick="(() => Save())" class="btn btn-success" > Добавить</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Done</th>
           
        </tr>
    </thead>
    <tbody>
       @if (doto.Count()>0)
       {
          @foreach (var item in doto)
          {
                 <tr>
                     <td>@item.Name</td>
                     <td>@item.IsDone</td>
                     
                 </tr>
          }
       }
    </tbody>
    
</table>
@code {
    ToDoItem toDo = new ToDoItem();
    List<ToDoItem> doto = new List<ToDoItem>();
    protected override async Task OnInitializedAsync()
    {
        GetToDO();
    }
    private void GetToDO()
    {
        doto = tds.GetToDoItems();
    }

    private void Save()
    {
        tds.Save(toDo);
        Reset();
        GetToDO();
    }
    private void Reset()
    {
        toDo = new ToDoItem();
    }

    //private List<ToDoItem> list = new List<ToDoItem>();
    //public string newToDo;
    //private void AddToDO()
    //{
    //    list.Add(new ToDoItem { Name = newToDo });
    //}

    //private void ShowToDO()
    //{
    //    ToDoItem.ShowToItem();
    //}

}
